{% extends "base.html" %}

{% block title %}
Serenity2 -- Jobs
{%  endblock %}

{% block content %}
<article>
    <form action="" method="post" name="signup">
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }} {{ form.name(size=20) }}</p>
        <p>{{ form.username.label }} {{ form.username(size=20) }}</p>
        <p>{{ form.email.label }} {{ form.email(size=20) }}</p>
        <p>{{ form.password.label }} {{ form.password(size=20) }}</p>
        <input type="submit" value="Signup">
    </form>

</article>
{% endblock %}