{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="user_job_search_profile">
    {{ form.hidden_tag() }}
    <p>{{ user.email }}</p>
    {% for criteria_item in criteria %}
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ criteria_item.search_criteria }}
        <span class="caret"></span>
    </button>
        <ul class="dropdown-menu">
            <li><a href="#">Test</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Delete</a></li>
        </ul>
    </div>

    <p>

    </p>
    {% endfor %}

    <p>{{ form.job_search_criteria.label }} {{ form.job_search_criteria(size=20) }}</p>

    <input type="submit" name="submit" value="Add criteria">
</form>
{% endblock %}