{% extends "base.html" %} {% block content %}

<p>{{ user.email }}</p>

{% for criteria_item in criteria %}

<form action="" method="post" name="user_job_search_profile.{{ criteria_item.id }}">
    {{ form.hidden_tag() }}
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{criteria_item.search_criteria }} <span class="caret"></span>
    </button>
        <input value="{{ criteria_item.id }}" type="hidden" name="user_profile_search_term">
        <ul class="dropdown-menu">
            <!--
        <li><a href="#">Test</a></li>
        <li role="separator" class="divider"></li>
        -->
            <li><input type="submit" class="btn btn-link" name="submit" value="Remove criteria"></li>
        </ul>
    </div>
</form>

{% endfor %}
<p></p>
<form action="" method="post" name="user_job_search_profile_input">
    <p>{{ form.job_search_criteria.label }} {{ form.job_search_criteria(size=20) }}</p>
    <input type="submit" class="btn btn-success" name="submit" value="Add criteria">
</form>

{% for location_item in location %}

<form action="" method="post" name="user_job_search_profile.{{ location_item.id }}">
    {{ form.hidden_tag() }}
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{location_item.search_location }} <span class="caret"></span>
    </button>
        <input value="{{ location_item.id }}" type="hidden" name="user_profile_search_term">
        <ul class="dropdown-menu">
            <!--
        <li><a href="#">Test</a></li>
        <li role="separator" class="divider"></li>
        -->
            <li><input type="submit" class="btn btn-link" name="submit" value="Remove location"></li>
        </ul>
    </div>
</form>

{% endfor %}
<p></p>
<form action="" method="post" name="user_job_search_profile_input">
    <p>{{ form.job_search_location.label }} {{ form.job_search_location(size=20) }}</p>
    <input type="submit" class="btn btn-success" name="submit" value="Add location">
</form>
{% endblock %}